.ParentAppDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  max-width: 768px;
}

.Img {
  max-width: 70%;
  min-width: 70%;
  padding-top: 3vh;
}

.WelcomeText {
  color: darkblue;
  font-size: 300%;
  font-weight: bold;
  width: 80%;
  margin-top: 7vh;
  margin-bottom: 4vh;
}

.WelcomeSubText {
  width: 80%;
  font-size: 150%;
  margin-bottom: 6vh;
}

.FormParent {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.FormTitleText {
  font-weight: bold;
  font-size: 180%;
  margin-bottom: 1vh;
}

.FormInput {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 1.4vh;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  font-size: 130%;
}

.FirstMiddleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-top: 0.7vh;
}

.InputLabelText {
  font-size: 140%;
  font-weight: 500;
}

.FirstNameContainer {
  max-width: 60%;
  min-width: 60%;
}

.FirstNameInput {
  max-width: 85%;
  min-width: 85%;
}

.MiddleNameContainer {
  max-width: 40%;
  min-width: 40%;
}

.MiddleNameInput {
  max-width: 100%;
  min-width: 100%;
}

.LastNameInput {
  margin-bottom: 3.5vh;
}

.ParentDateDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.7vh;
}

.DateInputContainer {
  width: 33%;
}

.DateSelect {
  width: 95%;
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 1.4vh;
  margin-bottom: 5vh;
  padding: 3px;
  font-size: 130%;
}

.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8vh;
}

.AcceptButton {
  background-color: darkblue;
  color: white;
  font-size: 160%;
  font-weight: bold;
  padding-left: 3.4vh;
  padding-right: 3.4vh;
  padding-top: 1.7vh;
  padding-bottom: 1.7vh;
  border: unset;
  border-radius: 5px;
}

.ButtonTextDiv {
  display: flex;
  align-items: center;
}

.Arrow {
  font-size: 165%;
  margin-left: 5px;
}

.SucessContainer {
  width: 45%;
  text-align: center;
  font-size: 160%;
}

.ErrorText {
  color: red;
  font-size: 170%;
}
